.login-form, .account-creation-form{
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}
.control-label{
	text-align: left;
}

.main-content{
	max-width: 90%;
}
/*.mainbody{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.form-section{
	margin-left:auto;
	margin-right:auto;
	width: 25%;
	text-align: left;
}

.input-block{
	display: block;
}

.login-button .signup-button{
	margin-top: 6px;
}
*/

.input-description{
	display: block;
	font-size: 80%;
}

.radio-label{
	display: block;
}

.divider{
	margin-top:8px;
	margin-bottom: 8px;
	border-top: 1px solid black;
}

.signup-button{
	margin-bottom: 28px;
}

.account-creation-form h2{
	font-size: 18px;
}

.container dt{
	width:auto;
	margin-left:auto;
	display:inline-block;
}

.class-list-empty{
	display: none;
}

.border-bottom{
	border-bottom: 1px solid #505050;
}

#nav-search{
	padding-top: 7px;
}

#account-info h1{
	font-size: 28px;
}

#account-info h2{
	font-size: 20px;
}

#account-info dd{
	margin-bottom: 8px;
}

/* 'body' listed here because without it, this rule would lose in CSS specificity to '.container dt'
	when it needs to override it. !important is problematic to deal with, so this is a better
	solution */
body .instructor{
	display: none;
}

body .student{
	
}

#selected-prefix{
	display: inline;
}

.error-border{
	border: 1px solid red;
}
